Source: gz-sim11
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: optional
Build-Depends: cmake,
               pkgconf,
               debhelper (>= 13),
               doxygen,
               dh-python,
               libtinyxml2-dev,
               libwebsockets-dev,
               libgz-tools3-dev,
               libgz-cmake6-dev,
               libgz-common8-av-dev,
               libgz-common8-graphics-dev,
               libgz-common8-io-dev,
               libgz-common8-profiler-dev,
               libgz-common8-testing-dev,
               libgz-common8-events-dev,
               libgz-fuel-tools12-dev,
               libgz-gui11-dev,
               libgz-math10-dev,
               libgz-math10-eigen3-dev,
               libgz-msgs13-dev,
               libgz-plugin5-dev,
               libgz-physics10-dev,
               libgz-sensors11-dev,
               libgz-rendering11-dev,
               libgz-transport16-log-dev,
               libgz-utils5-cli-dev,
               libgz-utils5-dev,
               libsdformat17-dev,
               python3-dev,
               python3-pybind11
# doxygen and grapviz are excluded per bug:
# https://github.com/gazebosim/gz-sim/issues/1409
Vcs-Browser: https://github.com/gazebo-release/gz-sim11-release
Vcs-Git: https://github.com/gazebo-release/gz-sim11-release.git
Standards-Version: 4.5.1
Homepage: http://gazebosim.org/

Package: libgz-sim11
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Multi-Arch: same
Provides: libgz-sim-generic
Conflicts: libgz-sim-generic, libgz-sim6, libgz-sim8, libgz-sim9, libgz-sim10
Replaces: libgz-sim6, libgz-sim8, libgz-sim9, libgz-sim10
Description: Gazebo Sim classes and functions for robot apps - Shared library
 Gazebo Sim is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Main shared library

Package: libgz-sim11-gui
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: libgz-sim11 (= ${binary:Version}),
         qml6-module-qtqml-models,
         ${shlibs:Depends},
         ${misc:Depends}
Multi-Arch: same
Provides: libgz-sim-gui-generic
Conflicts: libgz-sim-gui-generic, libgz-sim6-gui, libgz-sim8-gui, libgz-sim9-gui, libgz-sim10-gui
Replaces: libgz-sim6-gui, libgz-sim8-gui, libgz-sim9-gui, libgz-sim10-gui
Description: Gazebo Sim classes and functions for robot apps - GUI library
 Gazebo Sim is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 GUI shared library and configuration files

Package: gz-sim11-cli
Architecture: any
Depends: libgz-sim11 (= ${binary:Version}),
         libgz-sim11-gui (= ${binary:Version}),
         libgz-sim11-plugins (= ${binary:Version}),
         libgz-sim11-plugins-gui (= ${binary:Version}),
         libgz-physics10-dartsim,
         ${shlibs:Depends},
         ${misc:Depends}
# Note that the -server package hosts the standalone executable that is
# not used to call "gz sim".
Recommends: gz-sim11-server
Suggests: libgz-physics10-bullet, libgz-physics10-tpe
Multi-Arch: no
Provides: gz-sim-cli-generic
Conflicts: gz-sim-cli-generic, gz-sim6-cli, gz-sim8-cli, gz-sim9-cli, gz-sim10-cli
Replaces: gz-sim6-cli, gz-sim8-cli, gz-sim9-cli, gz-sim10-cli
Description: Gazebo Sim classes and functions for robot apps - CLI
 Gazebo Sim is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 The package ships the CLI.

Package: gz-sim11-server
Architecture: any
Depends: libgz-sim11 (= ${binary:Version}),
         libgz-sim11-plugins (= ${binary:Version}),
         libgz-physics10-dartsim,
         libgz-rendering11-ogre2,
         libgz-sensors11-dev,
         ${shlibs:Depends},
         ${misc:Depends}
Suggests: libgz-physics10-bullet, libgz-physics10-tpe, libgz-rendering11-ogre1
Multi-Arch: no
Provides: gz-sim-server-generic
Conflicts: gz-sim-server-generic, gz-sim6-server, gz-sim8-server, gz-sim9-server, gz-sim10-server
Replaces: gz-sim6-server, gz-sim8-server, gz-sim9-server, gz-sim10-server
Description: Gazebo Sim classes and functions for robot apps - Server
 Gazebo Sim is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 The package ships the simulation STANDALONE server.

Package: libgz-sim11-plugins
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Provides: libgz-sim-plugins-generic
Conflicts: libgz-sim-plugins-generic, libgz-sim6-plugins, libgz-sim8-plugins, libgz-sim9-plugins, libgz-sim10-plugins
Replaces: libgz-sim6-plugins, libgz-sim8-plugins, libgz-sim9-plugins, libgz-sim10-plugins
Description: Gazebo Sim classes and functions for robot apps - Plugins
 Gazebo Sim is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Plugins collection

Package: libgz-sim11-plugins-gui
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: libgz-sim11-plugins
Multi-Arch: same
Provides: libgz-sim-plugins-gui-generic
Conflicts: libgz-sim-plugins-gui-generic, libgz-sim6-plugins-gui, libgz-sim8-plugins-gui, libgz-sim9-plugins-gui, libgz-sim10-plugins-gui
Replaces: libgz-sim6-plugins-gui, libgz-sim8-plugins-gui, libgz-sim9-plugins-gui, libgz-sim10-plugins-gui
Description: Gazebo Sim classes and functions for robot apps - GUI Plugins
 Gazebo Sim is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 GUI Plugins collection

Package: libgz-sim11-dev
Architecture: any
Section: libdevel
Depends: libtinyxml2-dev,
         libwebsockets-dev,
         libgz-tools3-dev,
         libgz-cmake6-dev,
         libgz-common8-av-dev,
         libgz-common8-graphics-dev,
         libgz-common8-profiler-dev,
         libgz-common8-events-dev,
         libgz-common8-testing-dev,
         libgz-fuel-tools12-dev,
         libgz-gui11-dev,
         libgz-math10-dev,
         libgz-math10-eigen3-dev,
         libgz-msgs13-dev,
         libgz-plugin5-dev,
         libgz-physics10-dev,
         libgz-sensors11-dev,
         libgz-rendering11-dev,
         libgz-transport16-log-dev,
         libgz-utils5-cli-dev,
         libgz-utils5-dev,
         libsdformat17-dev,
         libgz-sim11 (= ${binary:Version}),
         libgz-sim11-gui (= ${binary:Version}),
         libgz-sim11-plugins (= ${binary:Version}),
         libgz-sim11-plugins-gui (= ${binary:Version}),
         ${misc:Depends}
Recommends: python3-gz-sim11
Multi-Arch: same
Provides: libgz-sim-dev-generic
Conflicts: libgz-sim-dev-generic, libgz-sim6-dev, libgz-sim8-dev, libgz-sim9-dev, libgz-sim10-dev
Replaces: libgz-sim6-dev, libgz-sim8-dev, libgz-sim9-dev, libgz-sim10-dev
Description: Gazebo Sim classes and functions for robot apps - Development files
 Gazebo Sim is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Development files

Package: python3-gz-sim11
Architecture: any
Depends: libgz-sim11 (= ${binary:Version}),
         python3-gz-math10,
         python3-gz-msgs13,
         python3-gz-transport16,
         python3-pybind11,
         python3-sdformat17,
         ${misc:Depends},
         ${python3:Depends},
         ${shlibs:Depends}
Enhances: libgz-sim11-dev
Provides: python3-gz-sim-generic
Conflicts: python3-gz-sim-generic, python3-gz-sim6, python3-gz-sim8, python3-gz-sim9, python3-gz-sim10
Replaces: python3-gz-sim6, python3-gz-sim8, python3-gz-sim9, python3-gz-sim10
Description: Gazebo Sim classes and functions for robot apps - Development files
 Gazebo Sim is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 The package contains the Python3 bindings.

